---
import BaseHead from '../components/BaseHead.astro'
import Header from '../components/Header.astro'
import Footer from '../components/Footer.astro'
import Button from '../components/Button.astro'

import { SITE_TITLE, SITE_DESCRIPTION } from '../config'
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header title={SITE_TITLE} />
    <main>
      <div class="flow-root">
        <div class="float-left hidden md:block">
          <p style="margin : 0"
            class="font-family: Georgia"><span class="text">[May'24]</span> I will intern at Mysten Labs this summer!</p>
          <p style="margin:0;padding-top:0"
            class=""><span class="text">[Oct'23]</span> I presented at SOSP Doctoral Workshop 2023!</p>
<p style="margin:0;padding-top:0"
            class=""><span class="text">[Feb'23]</span> I started my Ph.D. at Imperial College London 🇬🇧!</p>
<br>
          <div>
            </content><Button title="Button 1" />   
          </div>
        </div>
        <div
          class="float-right rounded-full shadow-md shadow-neutral-600 mr-10"
        >
          <img class="rounded-full h-auto max-w-[120px]" src="/scofield-zliu.png" onmouseover="this.src='/scofield_tri.jpg';" onmouseout="this.src='/scofield-zliu.png';"/>
        </div>
      </div>
      <h2
        class="text-lg font-bold mb-6 underline underline-offset-8 decoration-4 decoration-blue-800"
      >
        About
      </h2>
      <p>
        I am a 2nd-year Ph.D. student at <a href="https://lsds.doc.ic.ac.uk/">Large-Scale Data & Systems Group</a> of Imperial College London, 
        advised by amazing <a href="https://marioskogias.github.io/">Prof. Marios Kogias</a>. 
        My research interests lies in datacenter systems, with a current focus on runtime scheduling and parallelism/concurrency. 
      </p>
      <p>
        Prior to joining Imperial, I was fortunate to work with: 
        <a href="https://sites.google.com/view/yitingxia/home">Prof. Yiting Xia</a> (MPI-INF) on hardware-accelarated datacenter networks,
        <a href="https://perso.lip6.fr/Marc.Shapiro/">Prof. Marc Shapiro</a> (INRIA) on actor-based distributed query processing, 
        <a href="https://www.romainjacob.net/">Dr. Romain Jacob</a> (ETHz) on P4-based failure-rerouting. 
        I obtained M.S. (with distinction) from École Polytechnique 🇨🇵.
      </p>
      <p>
      </p>
      <h2
        class="text-lg font-bold mb-6 underline underline-offset-8 decoration-4 decoration-orange-900"
      >

      <h2
        class="mt-8 text-lg font-bold mb-6 underline underline-offset-8 decoration-4 decoration-blue-800"
      >
        Contact
      </h2>
      <a href="mailto:scofield.liu22@imperial.ac.uk">Email</a> | <a href="https://www.linkedin.com/in/zhengqing-scofield-liu-728ba61b8/">LinkedIn</a> 
      | <a href="https://twitter.com/ZhengqingLiu">Twitter</a> | 
      <a href="https://github.com/Scofield626">GitHub</a> 
    </main>
    <br />
    <Footer />
  </body>
</html>
