---
const today = new Date()
---

<footer>
  &copy; {today.getFullYear()}
  <a href="/" class="text-[#444]">Scofield Z.Q. Liu (he/him)</a>. 
  Made by <a href="https://astro.build/">Astro</a>.
  Themed by <a href="https://bearblog.dev/">Bear Blog</a>. 
</footer>
<style>
  footer {
    padding: 15px;
    text-align: center;
  }
</style>
